<div class="newWorkerContainer" [ngClass]="{'fadeInComponent': fadeClass=='fadeInComponent', 'fadeOutComponent': fadeClass=='fadeOutComponent'}">
    <h3 class="newWorkerTitle">הוספת עובד חדש</h3>
    <form #addNewWorkerForm="ngForm" (ngSubmit)="submitHandler(addNewWorkerForm)">
        <div class="form-group">
            <div>
                <label class="formInput">תעודת זהות</label>
                <div class="userIdContainer">
                    <input type="string" name="userId" minlength="9" maxlength="9" class="form-control formInput"
                        (ngModelChange)="onUserIdChange($event)" [(ngModel)]="newWorker.userId" />
                    <div class="isUserIdAvailableContainer" *ngIf="newWorker.userId.length === 9">
                        <span>
                            <i *ngIf="isUserIdValid" class="fa fa-user-check isAvailableWorkerId"></i>
                            <i *ngIf="!isUserIdValid" class="fa fa-times isAvailableWorkerId"></i>
                        </span>
                    </div>
                </div>
                <h6 class="newWorkerError" [ngClass]="{'showErrorAnimation' : strUserIdErrorMessage != ''}">{{strUserIdErrorMessage}}</h6>
            </div>
        </div>
        <div class="form-group">
            <label class="formInput">שכר לשעה (20 - 100)</label>
            <input type="number" name="salary" class="form-control formInput" min="20" max="100" 
                [(ngModel)]="newWorker.salary" (ngModelChange)="onSalaryChange($event)" />
            <h6 class="newWorkerError" [ngClass]="{'showErrorAnimation' : strSalaryErrorMessage != ''}">{{strSalaryErrorMessage}}</h6>
        </div>
        <div class="formButton">
            <button class="btn btn-raised btn-dark" [ngClass]="{'disabledButton': !isUserIdValid}"
                type=submit [disabled]="!isUserIdValid">הוספת העובד</button>
            <button class="btn btn-raised btn-dark" (click)="onCancel()">ביטול</button>
        </div>
    </form>
</div>