<div class="newWorkerAndBlurContainer">
    <div class="blur" (click)="blurClicked()"></div>
    <div id="newWorker">
        <h3 class="newWorkerTitle">הוספת עובד חדש</h3>
        <h6 class="newWorkerError" [ngClass]="{'showErrorAnimation' : strErrorMessage != ''}">{{strErrorMessage}}</h6>
        <div class="newWorkerParameters">
            <div class="newWorkerInput">
                <div class="newWorkerParameter">תעודת זהות :</div>
                <div class="newWorkerValue">
                    <div class="newWorkerIdContainer">
                        <input type="string" name="userId" maxlength="9"
                            (ngModelChange)="onUserIdChange($event)" [(ngModel)]="newWorker.userId" />
                    </div>
                    <span *ngIf="newWorker.userId.length === 9">
                        <i *ngIf="isUserIdValid" class="fa fa-user-check isAvailableWorkerId"></i>
                        <i *ngIf="!isUserIdValid" class="fa fa-times isAvailableWorkerId"></i>
                    </span>
                </div>
            </div>
            <div class="newWorkerInput">
                <div class="newWorkerParameter">שכר לשעה :</div>
                <div class="newWorkerValue">
                    <span>{{newWorker.salary}}<i class="fa fa-shekel-sign"></i></span>
                    &nbsp;
                    <input type="range" (change)="onChange($event)"
                        name="salary" [(ngModel)]="newWorker.salary"
                        min="20" max="100"
                    />
                </div>
            </div>
        </div>
        <div class="newWorkerButtonsContainer">
            <button class="cancelButton" (click)="onCancel()">ביטול</button>
            <button class="addButton" (click)="onSubmit()" [disabled]="!isUserIdValid">הוספת העובד</button>
        </div>
    </div>
</div>