.newWorkerContainer {
    height: 320px;
    width: 350px;
    margin: 10px auto;
    padding: 0px 25px;
    z-index: 2;
    background-color: #eee;
    border: 1px solid #222;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px #afafaf !important;
    animation-name: component-fade-in;
    animation-duration: 600ms;
}

@keyframes component-fade-in {
    0% {height: 0px; margin: 0px auto; opacity: 0;}
    80% {height: 320px; margin: 10px auto; opacity: 0;}
    100% {height: 320px; margin: 10px auto; opacity: 1;}
}

.newWorkerTitle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newWorkerInput {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.form-group {
    padding-bottom: 10px;
    margin: 0;
    position: relative;
    height: 100px;
}

.formButtons {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.userIdContainer {
    display: flex;
    justify-content: space-between;
}

.isUserIdAvailableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px #999 solid;
    border-radius: 50%;
    background-color: #ddd;
}

.isAvailableWorkerId {
    width: 40px;
    display: block;
    text-align: center;
    margin: 5px;
    font-size: 24px;
}

.fa-user-check {
    color: darkgreen;
}

.fa-times {
    color: maroon;
}

.formButton > button {
    font-size: large;
    width: 40%;
    margin: 0 15px 0;
}

.disabledButton {
    cursor: not-allowed;
}

.newWorkerError {
    color: maroon;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.showErrorAnimation {
    animation: showError;
    animation-duration: 1.5s;
}

@keyframes showError {
    0%  { opacity: 0.2 }
    20%  { opacity: 1 }
    40%  { opacity: 0.2 }
    60%  { opacity: 1 }
    80%  { opacity: 0.2 }
    100%  { opacity: 1 }
}