.container {
    position: relative;
}

.iconConstraints {
    cursor: pointer;
}

.tb {
    overflow: auto;    
    width: 100%;
    max-height: calc(100vh - 190px);
}

.table td {
    vertical-align: middle !important;
}

.conTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    font-size: 1.2em;
}

.dateInput {
    margin-right: 15px;
}

.btn-addCon {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px #bbbbbb;
    display: flex;
    justify-content: center;
}

.btn-addCon:hover {
    color: #fff !important;
    background-color: #ef7975;
}

.addDiv {
    position: absolute;
    left: 0;
    top: 0;
}

.modalSectionTitle {
    font-weight: bolder;
}

.modalTitle {
    margin:0 auto;
}

.warning {
    font-size: 12px;
    color: maroon;
    margin-bottom: inherit;
    position: absolute;
    line-height: 1.5;
}

.selectDesc {
    box-shadow: none;
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.loader {
    margin: auto;
}

.shifts-check-container {
    user-select: none;
}

.checked-icon {
    cursor: pointer;
}

.checked-disabled {
    cursor: default;
    color: gray;
}

.status-light {
    font-size: 10px;
    margin-left: 5px;
    align-self: center;
}