<div class="container">
    <div id="workers">
        <label class="conTitle">
            האילוצים שלי
        </label>
        <div *ngIf="!constraints">
            <div class="loader"></div>
        </div>
        <div *ngIf="constraints" class="row justify-content-center constraintsForWorker">
            <div class="container">
                <form class="form-inline">
                    <div class="col-md-4">
                        <input class="form-control w-75" type="text" placeholder="חיפוש" aria-label="Search"
                            [(ngModel)]="searchWord" name="filter" (input)="filterItem()" />
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                    <div class="form-inline">
                        <label class="formInput">מ:</label>
                        <input class="form-control dateInput" [(ngModel)]="startDateFilter" name="dateFilter1"
                            (input)="filterItem()" type="date" />
                    </div>
                    <div class="form-inline">
                        <label class="formInput">עד:</label>
                        <input class="form-control dateInput" [(ngModel)]="endDateFilter" name="dateFilter2"
                            (input)="filterItem()" type="date" />
                    </div>
                </form>
                <div class="addDiv">
                    <button type="button" class="btn btn-addCon" title="הוספת אילוץ חדש" data-toggle="modal"
                        data-target="#AddConstraintModal">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="tb">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">תאריך תחילה</th>
                            <th scope="col">תאריך סיום</th>
                            <th scope="col">משמרות</th>
                            <th scope="col">פירוט</th>
                            <th scope="col">סטטוס בקשה</th>
                            <th style="text-align: center;" scope="col">פעולות</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let con of constraints; let i=index;">
                            <td>{{i + 1}}</td>
                            <td>{{ con.startDate | date: 'dd/MM/yyyy'}}</td>
                            <td>{{ con.endDate | date:'dd/MM/yyyy'}}</td>
                            <td class="shifts-check-container">
                                <ng-container *ngFor="let shift of con.shifts; let j=index">
                                    <i (click)="shiftChange(con, shift)"
                                        class="checked-icon far {{getCheckedClass(con)}} {{shift.isChecked ? 'fa-check-square' : 'fa-square'}}">
                                    </i> {{ shift?.name }}
                                    <br>
                                </ng-container>
                            </td>
                            <td>{{ con.description }}</td>
                            <td>
                                <i class="fas fa-circle status-light"
                                    [ngStyle]="{'color': getStatusLightColor(con.status[0].statusId)}"></i>
                                {{ con.status[0].statusName }}
                            </td>
                            <td style="text-align: center;">
                                <i (click)="DeleteConstraint(con._id, i)" class="far fa-trash-alt iconConstraints"
                                    title="מחיקה"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AddConstraintModal" tabindex="-1" role="dialog"  data-backdrop="static" data-keyboard="false" aria-labelledby="AddConstraintModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modalTitle">הוספת אילוץ חדש</h5>
            </div>
            <div class="modal-body">
                <form #AddConstraintForm="ngForm" (ngSubmit)="onSubmit(AddConstraintForm)" id="AddConstraintForm">
                    <div class="form-group">
                        <label class="modalSectionTitle">תאריך <span *ngIf="isRange">התחלה</span></label>
                        <input type='date' class="form-control" name="startDate" ngModel #startDate="ngModel" required
                            title="הכנס תאריך תחילה" />
                        <div class="warning" *ngIf="startDate.errors?.required && startDate.touched">נא להכניס תאריך
                            <span *ngIf="isRange">התחלה</span></div>
                    </div>
                    <div class="form-group" *ngIf="isRange">
                        <label class="modalSectionTitle">תאריך סיום:</label>
                        <input type='date' class="form-control" name="endDate" ngModel #endDate="ngModel"
                            title="הכנס תאריך סיום" />
                    </div>
                    <div class="form-group">
                        <i (click)="isRange = !isRange"
                            class="checked-icon far {{isRange ? 'fa-check-square' : 'fa-square'}}"></i>
                        טווח תאריכים
                    </div>
                    <div class="form-group">
                        <label class="modalSectionTitle">משמרות באילוץ <span *ngIf="isRange">לטווח
                                שהוזן</span></label>
                        <div class="checkbox">
                            <ng-container *ngFor="let shift of shiftNames;">
                                <i (click)="shift.isChecked = !shift.isChecked"
                                    class="checked-icon far {{shift.isChecked ? 'fa-check-square' : 'fa-square'}}"></i>
                                {{ shift?.name }}
                                <br>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="modalSectionTitle">סיבה</label>
                        <div>
                            <select class="form-control custom-select selectDesc" name="description" ngModel
                                #description="ngModel" required>
                                <option *ngFor="let desc of constraintsReasons" [value]="desc.name">
                                    {{desc.name}}
                                </option>
                            </select>
                        </div>
                        <div class="warning" *ngIf="description.errors?.required && description.touched">נא להזין סיבה
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="AddConstraintForm" class="btn btn-primary">הוספה</button>
                <button type="button" class="btn btn-secondary" (click)="InitiateForm(AddConstraintForm)">חזרה</button>
            </div>
        </div>
    </div>
</div>