<div id="business">
    <div class="title">
        <span>עסק חדש</span>
        <i class="title-icon fas fa-store-alt"></i>
    </div>
    <div class="body row col-md-4 col-10">
        <form>
            <div class="form-group">
                <div class="col-12 no-padding">
                    <input [(ngModel)]="business.name" name="business-name" class="form-control user-input" type="text"
                        placeholder="שם בית העסק">
                </div>
            </div>
            <div class="form-group">
                <div class="col-12 no-padding">
                    <input [(ngModel)]="business.address" name="business-address" class="form-control user-input"
                        type="text" placeholder="כתובת">
                </div>
            </div>
            <div class="form-group">
                <button type="button" (click)="AddBusiness()" id="business-btn"
                    class="col-12 btn btn-primary business-btn">יצירת עסק</button>
            </div>
        </form>
    </div>
</div>