<div id="new-business">
    <div class="title">
        <span>עסק חדש</span>
        <i class="title-icon fas fa-store-alt"></i>
    </div>
    <div class="body row col-md-4 col-10">
        <form>
            <div class="form-group">
                <div class="col-12 no-padding">
                    <input [(ngModel)]="business.name" name="business-name" class="form-control" type="text"
                        placeholder="שם בית העסק">
                </div>
            </div>
            <div class="form-group">
                <div class="col-12 no-padding">
                    <input [(ngModel)]="business.address" name="business-address" class="form-control" type="text"
                        placeholder="כתובת">
                </div>
            </div>
            <div class="form-group">
                <div class="col-12 shifts">
                    <div class="shifts-title">
                        משמרות
                    </div>
                    <div id="shifts-container" class="shifts-container">
                        <div class="shift" *ngFor="let shift of business.shifts;let i = index"
                            [ngClass]="{'no-margin': (i == business.shifts.length - 1)}">
                            <span class="shift-number">{{i + 1}}.</span>
                            <div class="col-7 new-shift-input input-right">
                                <label for="shift-name-{{i}}" class="new-shift-input-title">שם משמרת:</label>
                                <input [(ngModel)]="shift.name" name="shift-name-{{i}}"
                                    class="form-control new-shift-input-data" type="text"
                                    placeholder="למשל משמרת בוקר/ערב">
                            </div>
                            <div class="col-3 new-shift-input input-left">
                                <label for="workers-amount-{{1}}" class="new-shift-input-title">כמות עובדים:</label>
                                <input [(ngModel)]="shift.workersAmount" name="workers-amount-{{i}}"
                                    class="form-control new-shift-input-data" value="5" min="1" type="number">
                            </div>
                            <i (click)="removeShift(i)" *ngIf="business.shifts.length > 1"
                                class="far fa-trash-alt delete-shift-icon"></i>
                        </div>
                    </div>
                </div>
                <span class="new-shift-btn" (click)="addShift()">
                    <span>הוספת משמרת</span>
                    <i class="far fa-plus-square new-shift-icon"></i>
                </span>
            </div>
            <div class="form-group">
                <button type="button" (click)="addBusiness()" id="business-btn"
                    class="btn btn-primary business-btn">יצירת עסק</button>
            </div>
        </form>
    </div>
    <div class="back-btn" title="חזרה" (click)="back()">        
        <i class="fas fa-share back-icon"></i>
    </div>
</div>