.navbarContainer {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #e6e6e6;
    direction: rtl;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;       
}

.navbarPages {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
}

.navbarItem {
    width: 50%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    direction: ltr;
    padding: 20px;
}

.activeNavbarItem {
    background-color: #ccc;
}

.userGreeting {    
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 15px;
}

.notificationsDropdown {
    top: 10px !important;
    direction: rtl !important;
}

.navbarItemClicked {
    background-color: #ccc !important;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    cursor: pointer;
}

.logo {
    width: 100%;
    margin: 3px;
}

.pointer {
    cursor: pointer;
}

.navbarPageText {
    margin: 4px;
    font-size: 0.9em;
}

.notificationsIndicator > span {
    background-color: #ef7975;
}

.notificationsIndicator {
    margin-right: 15px;
}

.notificationsIndicator > .dropdown-toggle {
    height: 30px;
    width: 30px;
    min-width: unset !important;
    margin-bottom: 0;
}

.notificationsIndicator :hover {
    color: #ef7975 !important;
}

.notificationsIndicator > button > i {
    color: #fff;
    font-size: 20px;
}

.dropdown-item {
    padding: 0 10px;
    min-height: 0;
    height: 25px;
    font-size: 14px;
}

.pageIcon {
    font-size: 1em;
}

.logoutButton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important; 
    margin-right: auto
}