.buttonsContainer {
    text-align: center;
    position: relative;    
}

.btn-icon {
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 1.2em;
}

.workersContainer {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}

.workersContainer > div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.workerCard {
    margin: auto;
    margin-bottom: 15px
}

.noWorkers {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noWorkers > i {
    margin-right: 5px;
}

.filterContainer {
    margin: auto;
    width: 400px;
    margin-bottom: 15px;
}

.loader {
    margin: auto;
}

.title-icon {
    margin-right: 5px;
}

.search-icon-container {
    display: flex;
    align-items: center;
}

.delete-all-btn {
    direction: ltr;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.5) !important;
}