<div id="worker">
    <div class="title">
        <span>עובד חדש</span>
        <i class="title-icon fas fa-user"></i>
    </div>
    <div class="body row col-md-4 col-10">
        <form>
            <div class="form-group search-container">
                <div class="search-input">
                    <input [(ngModel)]="businessId" name="business-id" class="form-control" placeholder="קוד בית העסק"
                        autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="text"
                        (keyup.enter)="SearchForBusiness()">
                </div>
                <div class="search-btn" [ngClass]="{'disabled-btn': !businessId}" (click)="SearchForBusiness()">
                    <i class="material-icons search-btn-icon">search</i>
                </div>
            </div>
            <div class="form-group" *ngIf="business">
                <div class="business-details">
                    <div>
                        <span class="business-detail-title">שם בית העסק</span>:
                        {{business.name}}
                    </div>
                    <div>
                        <span class="business-detail-title">כתובת</span>:
                        {{business.address}}
                    </div>
                    <div>
                        <span class="business-detail-title">מנהל</span>:
                        {{business.manager.firstName + " " + business.manager.lastName}}
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="business">
                <button type="button" (click)="SendWorkerRequest()" class="btn btn-primary join-btn">שליחת בקשה</button>
            </div>
            <div class="form-group details-text" *ngIf="!business">
                * להצטרפות כעובד, יש לפנות למנהל בית העסק ולבקש את קוד העסק.
            </div>
        </form>
    </div>
    <div class="back-btn" title="חזרה" (click)="back()">
        <i class="fas fa-share back-icon"></i>
    </div>
</div>