.calendar {
    width: 60%;
    height: 100%;
    margin-top: 15px;    
    position: absolute;
    right: 0;
    padding-right: 5px;    
    max-height: 650px;
}

.scheduler-container {
    width: 40%;
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
}

.scheduler-title {
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
}

.scheduler-btn {
    margin: auto;
    width: 170px;
    height: 170px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 8px 1px grey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fac2069e;
}

.scheduler-btn:hover {
    background-color: #ffdf75f7;
}

.text {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    padding: 15px;
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;
}

.alert-text {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    padding: 15px;
    height: 100%;
}

.subtext-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 0 20px;
}

.title-container {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.action-container {    
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    display: flex;
}

.container {
    width: 100%;
    position: relative;
    height: calc(100% - 70px);
}