<div id="schedule">
    <calendar class="calendar" [isUserManager]="true"></calendar>
    <div class="scheduler-container">
        <div class="title-container">
            <h4 class="scheduler-title">שיבוץ משמרות עובדים</h4>
            <div class="subtext-title" *ngIf="!isLoading && isScheduleAllow">שיבוץ אוטומטי של עובדים במשמרות לחודש
                {{calendarTitle}}</div>
        </div>
        <div class="action-container">
            <div class="scheduler-btn" *ngIf="!isLoading && isScheduleAllow" (click)="Schedule()">
                שיבוץ אוטומטי
            </div>
            <div class="text" *ngIf="isLoading">טוען שיבוץ משמרות לעובדים...</div>
            <div class="alert-text" *ngIf="isScheduleAllow == false">לוח שיבוץ ל{{calendarTitle}}</div>
        </div>
    </div>
</div>