.calendar {
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 15px;    
    position: absolute;
    right: 0;
    padding-right: 5px;
}

.shiftCard {
    width: 100%;
    height: calc(100% - 120px); 
}

.data-filter-container {
    width: 100%;
    height: 70px;
    left: 0;
    display: flex;
    padding: 10px;
}

.shifts-filter {
    width: 100%;
}

.filter-label {
    font-size: 14px;
}

.filter-select {
    width: 60%;
    padding: 0;
    bottom: 10px;
    position: relative;
}

.select-icon {
    position: absolute;
    top: 35px;
    right: 56%;
    color: gray;    
}

.right-container {
    width: 60%;
    height: calc(100% - 50px);
    position: relative;
    float: right;    
}

.left-container {
    width: 40%;
    height: calc(100% - 50px);
    position: relative;
    float: left;    
}

.shift-card-container {
    width: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    display: flex;
    align-items: center;
}