<div class="loginForm shadow">
<div class="appLogo">ShiftUp</div>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
        <label class="formInput">אימייל</label>
        <input type="email" class="form-control formInput"
               name="userEmail" ngModel #userEmail="ngModel" required title="הכנס אימייל תקין"/>
        <div class="warning" *ngIf="userEmail.errors?.required && userEmail.touched">נא להכניס אימייל</div>
    </div>
    <div class="form-group">
        <label class="formInput">סיסמה</label>
        <input type="password" class="form-control formInput"
               ngModel
               name="password"
               #password="ngModel"
               required/>
        <div class="warning" *ngIf="password.errors?.required && password.touched">נא להכניס סיסמה</div>
    </div>

    <div class="form-group formButton">
        <button type=submit class="btn btn-raised btn-dark">התחבר</button>
        <button routerLink="/register" class="btn btn-raised btn-dark">הירשם</button>
    </div>
</form>
</div>