<div class="loginForm shadow">
<div class="appLogo">ShiftUp</div>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
        <label class="formInput">אימייל</label>
        <input type="email" class="form-control formInput" style="direction: ltr"
               name="email" ngModel #email="ngModel" required title="הכנס אימייל תקין" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
        <div class="warning" *ngIf="email.errors?.required && email.touched">נא להכניס אימייל</div>
        <div class="warning" *ngIf="email.errors?.pattern && email.touched">כתובת אימייל לא תקינה</div>
    </div>
    <div class="form-group">
        <label class="formInput">סיסמה</label>
        <input type="password" class="form-control formInput"
               ngModel
               name="password"
               #password="ngModel"
               required/>
        <div class="warning" *ngIf="password.errors?.required && password.touched">נא להכניס סיסמה</div>
    </div>

    <div class="form-group formButton">
        <button type=submit class="btn btn-raised btn-dark">התחבר</button>
        <button routerLink="/register" class="btn btn-raised btn-dark">הירשם</button>
    </div>
</form>
</div>