.calendar {
    width: 60%;
    height: 100%;
    margin-top: 15px;
    margin-right: 15px;
    position: absolute;
    right: 0;
}

.scheduler-container {
    width: calc(40% - 20px);
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
    display: flex;
    min-height: 345px;
}

.scheduler-title {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.scheduler-btn {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 8px 1px grey;
    user-select: none;
}

.scheduler-btn:hover {
    background-color: #eaeaea;
}

.text {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    padding: 15px;
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;
}

.subtext-title {
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
}