.calendar {
    width: 60%;
    height: calc(100% - 70px);
    margin-top: 15px;    
    position: absolute;
    right: 0;
    padding-right: 5px;
}

.scheduler-container {
    width: 40%;
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
}

.scheduler-title {
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.scheduler-btn {
    margin: auto;
    width: 25vh;
    height: 25vh;
    font-size: 2.8vh;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 8px 1px grey;
    user-select: none;
}

.scheduler-btn:hover {
    background-color: #eaeaea;
}

.text {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    padding: 15px;
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;
}

.alert-text {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    padding: 15px;
    height: 100%;
}

.subtext-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
}

.title-container {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.action-container {    
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    display: flex;
}