<div id="newUser" [ngSwitch]="userRole">
    <div *ngSwitchCase="role.NOT_SELECTED">
        <h1 class="title">
            עוד קצת הגדרות וסיימנו...
        </h1>
        <div class="choose-container">
            <div class="choose-btn" (click)="userRole=role.WORKER">
                הצטרפות לעסק קיים
            </div>
            <div class="choose-btn" (click)="userRole=role.NEW_BUSINESS">
                יצירת עסק חדש
            </div>
        </div>
    </div>
    <newBusiness *ngSwitchCase="role.NEW_BUSINESS"></newBusiness>
    <worker *ngSwitchCase="role.WORKER"></worker>
</div>