.regForm {
    width: 400px;
    padding: 30px;
}

.title {
    text-align: center;
}

.regButton {
    font-size: large;
}

.lineDiv{
    position: absolute;
    right: 385px;
    border-color: #bfbcb18a;
    border-width: thin;
    border-radius: 40px;
    height: 600px;
    top: -1px;
    border-style: solid;
}

.formInput {
    direction: rtl;
    font-size: 18px;
    margin: -3px;
    font-style: inherit;
}

.warning {
    font-size: 14px;
    color: maroon;
}

.formButton {
    text-align: center;
}

.formButton > button {
    font-size: large;
    width: 100%;
}

.box{
    position: absolute;
    top: 55px;
    right: 300px;
    width: 900px;
    height: 600px;
}

.form-group {
    padding-bottom: 10px;
    position: relative;
    height: 70px;
}

.back-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #ffc300;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px grey;
}

.logo{
    position: absolute;
    top: 10px;
    left: 34px;
    width: 50%;
}

.btn-send{
    background-color: #46B29E;
    color: white;
}