.regForm {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    border:#4f4f4f;
    border-radius: 90px;
    padding: 30px;
    transform: translate(-50%,-50%);
    height: 90%;
}

.title {
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.regButton
{
    font-size: large
}

.formInput{
    direction: rtl;
    font-size: 15px;
}

.warning{
    font-size: 15px;
    color: maroon;
}

.formButton {
    text-align: center;
}

.returnLink {
    top: -40px;
}

.formButton > button {
    font-size: large;
    width: 40%;
    margin:0 15px 0;

}

.shadow{
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;
}
