<div class="worker">
    <span class="name">
        <i class="fa fa-user"></i>
        &nbsp;
        {{workerUserData.firstName + ' ' + workerUserData.lastName}}
    </span>
    <div class="workerDetailsContaienr">
        <span class="detail">תעודת זהות : {{worker.userId}}</span>
        <span class="detail">גיל : {{calcAge(workerUserData.birthDate)}}</span>
        <span class="detail">שכר לשעה : {{worker.salary}}</span>
    </div>
    <div class="buttonsContainer">
        <button class="workerCardButton calcUserButton" (click)="calcWorkerSalery()">חישוב שכר</button>
        <button class="workerCardButton removeUserButton" (click)="deleteWorker()"><i class="fa fa-user-minus removeUserIcon"></i>&nbsp;מחיקה</button>
    </div>
</div>