.worker {
    height: 150px;
    width: 250px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 5px;
}

.name {
    width: 100%;
    height: 30%;
    background-color: #ddd;
    border-bottom: 1px solid #666;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.workerDetailsContaienr {
    width: 100%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.detail {
    height: 33%;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.buttonsContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}

.workerCardButton {
    width: 100px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.removeUserIcon {
    color: #fff;
}

.removeUserButton {
    background-color: #ff4747;
}

.calcUserButton {
    background-color: #5f5cff;
}