.choose-container {
    display: flex;
    justify-content: center;
}

@keyframes btn-size {
    from {width: 100px; height: 100px; font-size: 8px;}
    to {width: 250px; height: 250px; font-size: 18px;}
}

.choose-btn {
    width: 250px;
    height: 250px;
    border: 0.5px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    animation-name: btn-size;
    animation-duration: 600ms;
    position: relative;
    font-size: 18px;
}

.choose-btn:hover {
    background-color: #e7e7e7;
    transition: background-color 250ms linear;
}

.title {
    margin: 30px;
    user-select: none;
}

.btn-container {
    margin: 50px;
}

.marker {
    margin: 50px;
}

.marker-hover {
    border-bottom: 0.5px solid #979797;    
    padding-bottom: 20px;
}


@keyframes icon-size {
    from {font-size: 8px;}
    to {font-size:30px;}
}

.btn-text {
    margin-top: 15%;
}

.btn-icon {
    position: absolute;
    top: 35%;
    font-size: 30px;
    animation-name: icon-size;
    animation-duration: 600ms;
}