<div id="workerWait">
    <div class="title">
        <span>עובד חדש</span>
        <i class="title-icon fas fa-user"></i>
    </div>
    <div class="body row col-md-4 col-10">
        <form>
            <div class="form-group">
                <div>
                    ביקשת להצטרף לבית העסק
                </div>
            </div>
        </form>
    </div>
    <div class="logout-btn" title="התנתקות" (click)="logout()">
        <i class="fas fa-sign-out-alt logout-icon"></i>
    </div>
</div>