::-webkit-input-placeholder {
    font-size: 14px;    
}

form {
    width: 100%;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 20px !important;
}

.title {
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-icon {
    font-size: 24px;
    margin-right: 8px;
}

.body {
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 0;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 0px 5px 0px #828282;
}

.no-padding {
    padding: 0 !important;
}

.logout-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #979faf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px grey;
}

@keyframes logout-btn {
    from {width: 40px; height: 40px;}
    to {width: 45px; height: 45px;}
}

.logout-btn:hover {
    width: 45px;
    height: 45px;
    animation-name: logout-btn;
    animation-duration: 600ms;
}

.logout-icon {
    color: whitesmoke;
}

.business-details {
    font-size: 14px;
    margin-top: 10px;
}

.business-detail-title {
    text-decoration: underline;
}

.cancel-btn {
    border-style: solid;
    border-width: 1px;
    background-color: #f44336;
    color: white !important;
    border-radius: 4px;
    margin-top: 10px;
    width: 100px;    
}

.cancel-btn:hover, .cancel-btn:focus {
    background-color: #f44336 !important;
    border-color: #7882b6 !important;
}