.worker {
    height: 150px;
    width: 250px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 5px;
}

.name {
    width: 100%;
    height: 30%;
    background-color: #ddd;
    border-bottom: 1px solid #666;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1vw;
}

.btn-icon {
    margin-right: 5px;
}

.workerDetailsContaienr {
    width: 100%;
    height: 48%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.workerDetailsContaienr > span {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1vw;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
}

.buttonsContainer > button {
    height: 25px;
    background-color:gray; 
    width: 25px;
    min-width: unset !important;
}

.buttonsContainer > button > i {
    color: #fff;
    background-color: #ef7975;
    font-size: 12px;
}