<div class="worker">
    <span class="name">
        {{worker.firstName + ' ' + worker.lastName}}
        <i class="fa fa-user btn-icon"></i>
    </span>
    <div class="workerDetailsContaienr">
        <span>תעודת זהות: {{worker.userId}}</span>
        <span>גיל: {{calcAge(worker.birthDate)}}</span>
        <span>שכר לשעה: {{worker.salary}}</span>
    </div>
    <div class="buttonsContainer">
        <button class="btn btn-danger bmd-btn-fab bmd-btn-fab-sm"
            (click)="deleteWorker()" title="מחיקת עובד מהעסק">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>