.navbarContainer {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px 10px; 
    background-color: #e6e6e6;
    direction: ltr;
}

.navbarPages {
    width: 80%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
}

.navbarItem {
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    direction: rtl;
    padding: 10px;
}

.activeNavbarItem {
    background-color: #ccc;
}

.searchNavbarItem {
    width: 20%;
    cursor: unset;
    justify-content: unset;
    padding: 0;
    padding-left: 10px;
}

.navbarItemClicked {
    background-color: #ccc !important;
}

.logo {
    font-family: 'Lobster';
    font-size: 30px;
}

.searchContainer {
    background-color: #fff;
    height: 30px;
    width: 100%;
    float: right;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    border: 1px solid #6f6f6f;
    display: flex;
    align-items: center;
}

.search {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    font-size: 14px;
    outline: unset;
}

.pointer {
    cursor: pointer;
}

.navbarPageText{
    margin: 10px;
}