<div class="container">
    <div id="workers">
        <h4 class="conTitle">
            האילוצים שלי
        </h4>
        <div class="row justify-content-center constraintsForWorker">
            <div class="container">
                <form class="form-inline">
                    <div class="col-md-4">
                        <input class="form-control w-75" type="text" placeholder="חיפוש"
                               aria-label="Search" [(ngModel)]="searchWord" name="filter" (input)="filterItem()"/>
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                    <div class="form-inline">
                        <label class="formInput">מ:</label>
                        <input class="form-control dateInput" [(ngModel)]="startDateFilter" name="dateFilter1"
                               (input)="filterItem()" type="date"/>
                    </div>
                    <div class="form-inline">
                        <label class="formInput">עד:</label>
                        <input class="form-control dateInput" [(ngModel)]="endDateFilter" name="dateFilter2"
                               (input)="filterItem()" type="date"/>
                    </div>
                </form>
            </div>
            <div class="tb">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">תאריך תחילה</th>
                        <th scope="col">תאריך סיום</th>
                        <th scope="col">משמרות</th>
                        <th scope="col">פירוט</th>
                        <th scope="col">סטטוס בקשה</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let con of constraints; let i=index;">
                        <td>{{i + 1}}</td>
                        <td>{{ con.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ con.endDate | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <ng-container *ngFor="let shift of con.shifts; let j=index">
                                <input *ngIf="shift.isChecked" type="checkbox" name="vehicle" checked disabled>
                                <input *ngIf="!shift.isChecked" type="checkbox" name="vehicle"
                                       disabled>{{ shift?.name }}
                                <br>
                            </ng-container>
                        </td>
                        <td>{{ con.description }}</td>
                        <td>{{ con.status[0].statusName }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="addDiv">
                <button type="button" class="btn btn-addCon bmd-btn-fab" title="הוספת אילוץ חדש" data-toggle="modal"
                        data-target="#AddConstraintModal">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AddConstraintModal" tabindex="-1" role="dialog" aria-labelledby="AddConstraintModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modalTitle">הוספת אילוץ חדש</h5>
            </div>
            <div class="modal-body">
                <form #AddConstraintForm="ngForm" (ngSubmit)="onSubmit(AddConstraintForm)" id="AddConstraintForm">
                    <div class="form-group">
                        <label class="modalSectionTitle">תאריך <span *ngIf="this.isRange">התחלה</span></label>
                        <input type='date' class="form-control" name="startDate" ngModel #startDate="ngModel" required
                               pattern="/^\d{4}[./-]\d{2}[./-]\d{2}$/" title="הכנס תאריך תחילה"/>
                    </div>
                    <div class="warning" *ngIf="startDate.errors?.required && startDate.touched">נא להכניס תאריך <span
                            *ngIf="this.isRange">התחלה</span></div>
                    <div class="warning" *ngIf="startDate.errors?.pattern">תאריך בפורמט לא תקין</div>
                    <div class="form-group" *ngIf="this.isRange">
                        <label class="modalSectionTitle">תאריך סיום:</label>
                        <input type='date' class="form-control" name="endDate" ngModel #endDate="ngModel"
                               pattern="/^\d{4}[./-]\d{2}[./-]\d{2}$/" title="הכנס תאריך סיום"/>
                        <div class="warning" *ngIf="endDate.errors?.pattern">תאריך בפורמט לא תקין</div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" [(ngModel)]="this.isRange" [ngModelOptions]="{standalone: true}"> טווח
                        תאריכים
                    </div>
                    <div class="form-group">
                        <label class="modalSectionTitle">משמרות באילוץ <span
                                *ngIf="this.isRange">לטווח שהוזן</span></label>
                        <div class="checkbox">
                            <ng-container *ngFor="let shift of this.shiftNames; let i=index">
                                <input type="checkbox" [(ngModel)]="this.shiftNames[i].isChecked"
                                       [ngModelOptions]="{standalone: true}"> {{ shift?.name }}<br>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="modalSectionTitle">סיבה</label>
                        <div>
                            <select class="form-control custom-select selectDesc" name="description" ngModel
                                    #description="ngModel" required>
                                <option *ngFor="let desc of this.constraintsReasons" [value]="desc.name">
                                    {{desc.name}}
                                </option>
                            </select>
                        </div>
                        <div class="warning" *ngIf="description.errors?.required && description.touched">נא להזין סיבה
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="AddConstraintForm" class="btn btn-primary">הוספה</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">חזרה</button>
            </div>
        </div>
    </div>
</div>
