.table-container {
    overflow: auto;
    width: 100%;
    max-height: calc(100vh - 190px);
    position: relative;
}

.table td {
    vertical-align: middle !important;
}

.table tr:hover {
    background-color: rgba(0,0,0,.075);
}

.iconConstraints {
    float: right;
    margin: 0 10px;
    cursor: pointer;
}

.conTitle {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 1.2em;
}

.dateInput {
    margin-right: 15px;
}

.sortIcon {
    cursor: pointer;
    color: white;
}

.loader {
    margin: auto;
}

.no-constraints {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-light {
    font-size: 10px;
    margin-left: 5px;
    align-self: center;
}