/* START OVERRIDE BOOTSTRAP MATERIAL CSS */

a, a:hover, a:focus, i {
    color: #4f4f4f;
}

.form-control, .input-group .form-control {
    background-image: linear-gradient(0deg, #7882b6 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(84, 84, 84, .26) 1px, transparent 0) !important;
}

.form-control:focus {
    box-shadow: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9d9d9d;
    font-size: 14px;
    line-height: unset;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9d9d9d;
    font-size: 14px;
    line-height: unset;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9d9d9d;
    font-size: 14px;
    line-height: unset;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #7882b6;
}

.btn:focus {
    background-color: transparent;
    border-color: #ccc;
}

.btn:hover {
    background-color: transparent;
    border-color: #7882b6;
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #6e7288;
}

.fc-event, .fc-event:hover {
    color: white !important;
    text-align: right;
}

/* END OVERRIDE BOOTSTRAP MATERIAL CSS */

body {
    background-color: #EEE;
    font-family: Rubik;
    color: #5a5a5a;
    text-align: right;
}

input {
    color: #5a5a5a;
}

::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    direction: rtl;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}