/* START OVERRIDE BOOTSTRAP MATERIAL CSS */

a, a:hover, a:focus, i {
    color: #4f4f4f !important;
}

.form-control, .input-group .form-control {    
    background-image: linear-gradient(0deg,#7882b6 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(84,84,84,.26) 1px,transparent 0) !important;
}

.form-control:focus {
    box-shadow: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9d9d9d !important;    
    font-size: 14px !important;
    line-height: unset !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9d9d9d !important;
    font-size: 14px !important;
    line-height: unset !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9d9d9d !important;
    font-size: 14px !important;
    line-height: unset !important;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #7882b6 !important;
}

.btn:focus {
    background-color: transparent !important;
    border-color: #ccc !important;
}

.btn:hover {
    background-color: transparent !important;
    border-color: #7882b6 !important;
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #7882b6 !important;
}

/* END OVERRIDE BOOTSTRAP MATERIAL CSS */

body {    
    background-color: #EEE !important;
    font-family: Rubik !important;
    color: #4b4b4b !important;
    text-align: right !important;
}

input {
    color: #4b4b4b !important;
}

::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    direction: rtl;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #3d79b6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}