<div class="workersRequestsContainer">
    <h4 class="title">
        בקשות ממתינות לעסק {{business.name}}
        <i class="fas fa-address-book"></i>
    </h4>
    <div class="backToUsersButtonContainer">
        <button class="btn btn-lg btn-dark btn-raised" (click)="backToWorkersHandler()">
            חזרה לכל העובדים
            <i class="btn-icon fa fa-users"></i>
        </button>
    </div>
    <table class="table requestsTable" *ngIf="requestUsers.length>0">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">תעודת זהות</th>
                <th scope="col">שם</th>
                <th scope="col">גיל</th>
                <th scope="col">שכר לשעה (20 - 100)</th>
                <th scope="col">פעולות</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let requestUser of requestUsers; let i=index;">
            <td>{{i+1}}</td>
            <td>{{requestUser.userId }}</td>
            <td>{{requestUser.firstName + " " + requestUser.lastName}}</td>
            <td>{{calcAge(requestUser.birthDate)}}</td>
            <td>
                <input type="number" name="salary" class="form-control formInput"
                    [(ngModel)]="salaries[i]" min="20" max="100"
                    (ngModelChange)="onSalaryChange($event, i)" />
            </td>
            <td class="actions">
                <i class="far fa-thumbs-up" (click)="acceptRequestHandler(requestUser)" title="אשר"></i>
                <i class="far fa-times-circle" (click)="denyRequestHandler(requestUser)" title="דחה"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="requestUsers.length==0">
        <h1 class="noRequests">אין בקשות הממתינות לאישור</h1>
    </div>
</div>