.workersRequestsContainer {
    padding: 20px;
    text-align: center;
}

.backToUsersButtonContainer {
    position: absolute;
}

.title {
    text-align: center;
    font-weight: bold;
}

.requestsTable {
    margin: auto;
    width: 60%;
}

th, td, .formInput {
    text-align: center;
}

.noRequests {
    margin-top: 200px;
}

.btn-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #fff;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions > i {
    font-size: 24px;
    cursor: pointer;
}