.workersRequestsContainer {
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.backToUsersButtonContainer {
    text-align: center;
}

.requestsTable {
    margin: 10px auto;
    width: 60%;
}

th, td, .formInput {
    text-align: center;
}

.noRequests {
    margin-top: 200px;
}

.btn-icon {
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions > button {
    width: 30px;
    height: 30px;
    min-width: unset !important;
}

.actions > button > i {
    color: #fff;
    font-size: 16px;
}

/* .actions > i {
    font-size: 24px;
    cursor: pointer;
} */

.loader {
    margin: auto;
}

.title-icon {
    margin-right: 5px;
}