#shiftCard {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.cardContainer {        
    align-self: center;
    border-bottom: 0.5px dashed #858585;
    border-top: 0.5px dashed #858585;
    padding: 10px 20px;
    width: 100%;
    margin-left: 5px;
}

.shiftContainer {
    text-align: right;
    margin-bottom: 20px;
}

.shiftName {
    font-size: 26px;
    text-decoration: underline;
}

.worker {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.edit-shift-icon {
    position: absolute;
    left: 20px;
    top: -50px;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px grey;
}

.no-workers {
    text-align: right;
}

.title {
    text-align: right;
    font-size: 16px;
    margin: 10px 0px;
    margin-top: 3px;
}