#shiftCard {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.cardContainer {        
    align-self: center;
    margin: auto;
    border-bottom: 0.5px solid #858585;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 180px;    
}

.shiftContainer {
    text-align: center;
    margin-bottom: 20px;
}

.shiftName {
    font-size: 26px;
}

.worker {
    font-size: 18px;
}

.edit-shift-icon {
    position: absolute;
    left: 30px;
    bottom: 30px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px grey;
}