.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.loader {
    margin: auto;
    margin-top: 10px;
}

.statisticsChartsContainer {
    margin: 0 3em;
}

.nav-tabs {
    padding-inline-start: 0;
}

.nav-link {
    margin: 0.05em 0;
    padding: 0.5em 2em;
    background-color: #fff;
    color: #424242;
    border-radius: 0.5rem;
}

.nav-link.active, nav-link :active {
    background-color: #424242;
    color: #fff;
}

.tab-content {
    text-align: center;
}