<div id="workers">
    <h4 class="title">
        עובדי העסק {{business.name}}
        <i class="fa fa-users"></i>
    </h4>
    <div class="buttonsContainer">
        <button class="btn btn-lg btn-dark btn-raised" (click)="activateNewWorkerComponent()">
            הוספת עובד חדש
            <i class="btn-icon fas fa-user-plus"></i>
        </button>
        <button class="btn btn-lg btn-dark btn-raised" (click)="deleteAllWorkersHandler()">
            מחיקת כל העובדים
            <i class="btn-icon fas fa-trash"></i>
        </button>
        <button class="btn btn-lg btn-dark btn-raised" (click)="showRequests()">
            בקשות ממתינות
            <i class="btn-icon fas fa-bell"></i>
        </button>
    </div>
    <newWorker (onSubmit)="addNewWorkerHandler($event)" *ngIf="isNewWorkerComponentActive"></newWorker>
    <div class="workersWrapper">
        <div class="workersContainer">
            <workerCard *ngFor="let worker of workers" [worker]=worker class="workerCard" (onDelete)="deleteWorkerHandler(worker)"></workerCard>
        </div>
    </div>
    <h3 *ngIf="workers.length == 0 && !isNewWorkerComponentActive" class="noWorkers">
            <i class="fa fa-user-times"></i>&nbsp;
            אין עובדים לעסק, יש להוסיף על ידי הכפתור למעלה
    </h3>
</div>