#workers {
    padding: 20px;
}

.buttonsContainer {
    position: absolute;
    display: flex;
}

.buttonsContainer > button {
    margin-left: 20px;
}

.btn-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #fff;
}

.title {
    text-align: center;
    font-weight: bold;
}

.workersWrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.workersContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.workerCard {
    margin: 15px;
}

.noWorkers {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}