<div id="workers">
    <h4 class="title">עובדי העסק {{business.name}}</h4>
    <button class="newWorkerButton" (click)="openNewWorkerDialog()">הוספת עובד חדש</button>
    <button class="deleteAllWorkersButton" (click)="onDeleteAllWorkers()">מחיקת כל העובדים</button>
    <newWorker *ngIf="isNewWorkerDialogOpen" (onClose)="onNewWorkerClose($event)" [business]="business"></newWorker>
    <div class="workersWrapper">
        <div class="workersContainer">
            <workerCard *ngFor="let worker of workers" [worker]=worker class="workerCard" (onClose)="onDeleteWorker(worker.userId)"></workerCard>
        </div>
    </div>
</div>