<div class="container">
            <div class="row justify-content-center">
                <table class="table tbConstraints">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">תעודת זהות</th>
                        <th scope="col">שם</th>
                        <th scope="col">תפקיד</th>
                        <th scope="col">טווח תאריכים</th>
                        <th scope="col">פירוט</th>
                        <th scope="col">סטטוס בקשה</th>
                        <th scope="col">פעולות נוספות</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let constraint of constraints; let i=index; let username of usernames">
                        <td>{{i+1}}</td>
                        <td>{{ constraint.userId }}</td>
                        <td>{{username.firstName + " " + username.lastName}}</td>
                        <td>תפקיד</td>
                        <td>{{ constraint.startDate + ' עד ' + constraint.endDate }}</td>
                        <td>{{ constraint.description }}</td>
                        <td>{{ constraint.status }}</td>
                        <td><a href=""><img class="iconConstraints" src="/public/icons/ok.png"></a>
                            <a href=""><img class="iconConstraints" src="/public/icons/cancel.png"></a>
                                <a href=""><img class="iconConstraints" src="/public/icons/trash.png"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

